<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>vue test</title>
        <script src="js/vue.js"></script>
    </head>
    <body>
        <div id="app">
            姓名:<input type="text" v-model="user.name"/><BR/>
            年龄:<input type="text" v-model="user.age"/>
        </div>
    </body>
    <script>
        new Vue({
            el:'#app',
            data:{
                msg:'<h2>aaa</h2>',
                user:{
                    name:"张三",
                    age:18
                }
            },
            methods:{
                fun1:function() {
                    alert('aaaaa');
                }
            }
        });
    </script>
</html>
